#GIT
.gitignore
.git

#Docker
.docker

#Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

#docker-compose run --rm app sh -c "django-admin startproject app ."
#docker-compose run --rm app sh -c "flake8"
#docker-compose run --rm app sh -c "python manage.py startapp core"
# docker volume rm api_django_dev-db-data
#docker network inspect api_django_default
#docker-compose down --remove-orphans
